
//$color-three:#9cd4a4; header gradient, text-gradient with color-6 which got deleted., feature box gradient
//$color-nine: #a4d1b3; header gradient, btn background color, feature box gradient, featurebox background
//$color-10: #16301a; text color, sec-btn border bottom, boxshadow of feature box
$color-11: rgba(110, 110, 110, 0.699);
$color-12: rgb(248, 248, 248); //sec-btn

$gradient-color1: #90ff9f;
//$gradient-color2: #CEDBE4;
$gradient-color2: #88ee8d;
$button-color:#e96b17;
$text-color:#2C3129;

$gradient2-color1:#f85d15;
$gradient2-color2:#fd9839;

$gradient3-color1:#29adf0;
$gradient3-color2:#57ebe6;

$footercolor: rgb(39, 37, 37);

$bgcolor: rgb(246, 250, 211);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 20px;
    //background-color:rgb(250, 202, 240);
    margin: auto;
}

.tours{
    height: 100vh;
}