$color-one:#98a5a3;
$color-two:#507167;
$color-three:#8e989e;
$color-four:#48626a;
$color-five: #a46428;
$color-six:#455340;
$color-seven: #b38e52;
$color-eight: #7c7661;
$color-nine: #cdc4b9;
$color-10: #1b271d;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: 20px;
    color: $color-10;
}
.header{
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(to right bottom, rgba($color-nine, 0.4), rgba($color-three, 0.4)) ,url("images/natours.jpg");
    clip-path: polygon(0 0, 100% 1%, 100% 82%, 0% 100%);
    .logoimg{
        position:absolute;
        .logo{
            position: relative;
            height: 60px;
            width: 66px;
        }
    
    }
    .text-box{
        position: absolute;
        top: 200px;
        left: 300px;
        transform: translateX(50px);
        text-align: center;
    .main{
        margin-bottom: 10px;
            
            .first{
                display: block;
                text-align: center;
                font-size: 1.3em;
                letter-spacing: 20px;
                animation-name: firstt;
                animation-duration: 2s;
            }
            .second{
                display: block;
                font-size: 0.6em;
                letter-spacing: 10px;
                animation-name: secondd;
                animation-duration: 2s;;
            }
        }
    .btn:link, .btn:visited{
            text-decoration: none;
            display: inline-block;
            padding: 10px 15px;
            transition: all .2s;
            letter-spacing: 0.1em;
            position: relative;
            overflow: hidden;
            z-index: 1;
            span{
                position: absolute;
                background-color: $color-seven;
                width: 25%;
                height: 100%;
                z-index: -1;
                transition: .5s;
                border-radius: 100px;
                transform: translateY(150%);
            }
            .span1{
                left:0;
                transition-delay:0s ;
            }
            .span2{
                left:25%;
                transition-delay: .1s;
            }
            .span3{
                left:50%;
                transition-delay: .2s;
            }
            .span4{
                left:75%;
                transition-delay: .3s;
            }
        }
    .btn-white{
        color: $color-10;
        background-color: $color-nine;
        border-radius: 100px;
        position: relative;
        line-height: 2em;
        font-weight: bold;
        &:hover{
            background-color: $color-nine;
            color: $color-10;
            span{
                transform: translateY(0) scale(2);
            }
        }
    }
    }

}



@keyframes firstt {
    0%{
        transform: translateX(-10px);
        opacity: 0;
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
    
}
@keyframes secondd {
    0%{
        transform: translateX(10px);
        opacity: 0;
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
    
}

