* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 20px;
  color: #1b271d;
}

.header {
  height: 95vh;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(205, 196, 185, 0.4)), to(rgba(142, 152, 158, 0.4))), url("images/natours.jpg");
  background-image: linear-gradient(to right bottom, rgba(205, 196, 185, 0.4), rgba(142, 152, 158, 0.4)), url("images/natours.jpg");
  -webkit-clip-path: polygon(0 0, 100% 1%, 100% 82%, 0% 100%);
          clip-path: polygon(0 0, 100% 1%, 100% 82%, 0% 100%);
}

.header .logoimg {
  position: absolute;
}

.header .logoimg .logo {
  position: relative;
  height: 60px;
  width: 66px;
}

.header .text-box {
  position: absolute;
  top: 200px;
  left: 300px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  text-align: center;
}

.header .text-box .main {
  margin-bottom: 10px;
}

.header .text-box .main .first {
  display: block;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 20px;
  -webkit-animation-name: firstt;
          animation-name: firstt;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header .text-box .main .second {
  display: block;
  font-size: 0.6em;
  letter-spacing: 10px;
  -webkit-animation-name: secondd;
          animation-name: secondd;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.header .text-box .btn:link, .header .text-box .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  -webkit-transition: all .2s;
  transition: all .2s;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .text-box .btn:link span, .header .text-box .btn:visited span {
  position: absolute;
  background-color: #b38e52;
  width: 25%;
  height: 100%;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 100px;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.header .text-box .btn:link .span1, .header .text-box .btn:visited .span1 {
  left: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.header .text-box .btn:link .span2, .header .text-box .btn:visited .span2 {
  left: 25%;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.header .text-box .btn:link .span3, .header .text-box .btn:visited .span3 {
  left: 50%;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.header .text-box .btn:link .span4, .header .text-box .btn:visited .span4 {
  left: 75%;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.header .text-box .btn-white {
  color: #1b271d;
  background-color: #cdc4b9;
  border-radius: 100px;
  position: relative;
  line-height: 2em;
  font-weight: bold;
}

.header .text-box .btn-white:hover {
  background-color: #cdc4b9;
  color: #1b271d;
}

.header .text-box .btn-white:hover span {
  -webkit-transform: translateY(0) scale(2);
          transform: translateY(0) scale(2);
}

@-webkit-keyframes firstt {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes firstt {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes secondd {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes secondd {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=NProj.css.map */